@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

h1{
    font-family:'Lobster',cuisive;
    font-weight:  500;
    line-height: 1.1;
    color: #cc99ff;
}

body{
    background-color: #33CC33   ;
    border-top-color: #ffffff;

}
